
@{
    ViewData["Title"] = "Attendance Records";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Attendance Logs</h1>

<h4>Employees Attendance</h4>
<hr />
<div>
    <div class="row">
            
    </div>
    <a href="./RecordAttendance" class="btn btn-outline-success">Record Employe Attendance</a>
</div>